<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">


  <div class="container">
    <nav class="navbar navbar-default Mynavbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY BLOGS</p>
        </div>
        <ul class="nav navbar-nav navbar-right" >
          <!-- 6 -->
          <form class="form-inline my-2 my-lg-0 Myform" action="/formdata" method="POST">
            <input class="form-control mr-sm-2 input-lg" type="search" name="searchname" placeholder="Search" aria-label="Search">
            <button class="btn btn-lg btn-outline-success my-2 my-sm-0 Mybtn" type="submit">Search</button>
          </form>
          <li class="headanchor" ><a href="/">HOME</a></li>
          <li class="headanchor" ><a href="/about">ABOUT US</a></li>
          <li class="headanchor" ><a href="/contact">CONTACT US</a></li>
          
        </ul>
      </nav>
    </div>

  <body>
    <div class="container">
