<%- include("partials/header") %>
<div class="forM">

    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="postTitle">
            <label for="">Post</label>
            <textarea name="postBody" class="form-control" id="" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" value="text" name="store">Publish</button>
    </form>
    
</div>
<%- include("partials/footer") %>